<app-main></app-main>
<div class="container">
    <div class="row">
        <div class="custom-dropdown">
            <select id="dropdown1" class="custom-select">
                <option value="nursury">Nursury</option>
                <option value="lkg">Lkg</option>
                <option value="ukg">Ukg</option>
                <option value="1st">1st</option>
                <option value="2nd">2nd</option>
                <option value="3rd">3rd</option>
                <option value="4th">4th</option>
                <option value="5th">5th</option>
                <option value="6th">6th</option>
                <option value="7th">7th</option>
                <option value="8th">8th</option>
                <option value="9th">9th</option>
                <option value="10th">10th</option>
            </select>
        </div>

        <div class="custom-dropdown">
            <select id="dropdown2" class="custom-select">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
        </div>
        <div class="students">
            <a>Student Details</a>
            <a>Attendence</a>
            <a>Due Fees</a>
            <a>Results</a>
        </div>
    </div>
    <div class="vertical-line"></div>
</div>
<div class="form-group">
    <div class="input">
        <input type="text" placeholder="Search Student">
    </div>
    &nbsp;
    &nbsp;
    <div class="button" style="margin-left: -7px;">
        <mat-icon style="color:#fff; background-color: #191970; border-radius: 5px; margin-top: 5px; height: 25px;">add</mat-icon>
    </div>
</div>


<app-selected-student></app-selected-student>